body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    background-image: url(images/movie-banner2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 31vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    color: white;
    width: 80vw;
    align-self: center;
    margin: auto 0;
}

h3 {
    margin: auto 0 auto auto;
    text-decoration: none;
}

h3 a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

h3 a:hover {
    color: blue;
}

.input-field {
    display: flex;
    position: relative;
    top: 2.5em;
    align-self: center;
    border: 1px solid grey;
    border-radius: 10px;
    width: 80vw;
}

input, #search-btn {
    border: none;
    padding: 0.75em;
}

input {
    outline: none;
    border-right: 1px solid grey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
}

#search-btn {
    font-size: 1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

#search-btn:active {
    box-shadow: 2px 2px 7px 2px black;
}

#search-btn:hover {
    color: white;
}

.film-icon {
    display: block;
    text-align: center;
    opacity: 0.2;
    margin: 5em 0;
}

.film-display1, .watchlist-render {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 3.125em auto 0;
}

hr {
    width: 100%;
    margin: 1.5em 0;
}

.film-display2 {
    font-size: 0.85rem;
    display: flex;
    width: 80vw;
}

/* media query */

@media (min-width: 765px) {
    .film-display2 {
        font-size: 1.3rem;
    }
}

.poster {
    margin-right: 1.25em;
    max-width: 20vw;
    max-height: 25vh;
    align-self: center;
    border: 1px solid;
}

/* media query */
@media (min-width: 768px) {
    .poster {
        max-width: 15vw;
    }
}

.one {
    display: flex;
    gap: 0.3em;
}

.title {
    margin: 0 0.5em 0 0;
}

.fa-star {
    color: orange;
    align-self: center;
    margin: 0;
}

.rating {
    align-self: center;
    margin: 0;
}

.two {
    display: flex;
    gap: 0.3em;
    margin: 0.5em 0;
}

.runtime, .genre {
    font-size: 0.7rem;
    align-self: center;
    margin: 0 0.5em 0 0;
}

#addbtn, #removebtn {
    font-size: 0.75rem;
    align-self: center;
    border-radius: 8px;
    cursor: pointer;
    margin: 0;
}

.watchlist {
    margin: 0;
    align-self: center;
}

#removebtn {
    display: none;
}

.fa-solid:hover {
    background-color: #E3E4E8;
}

.plot {
    margin: 0;
    border: 1px solid red;
}

.three {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 1px solid;
    max-width: 55vw;
    width: 100%;
    height: fit-content;
}