body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    background-image: url(images/movie-banner2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 31vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    color: white;
    width: 80vw;
    align-self: center;
    margin: auto 0;
}

h3 {
    margin: auto 0 auto auto;
}

.input-field {
    display: flex;
    position: relative;
    top: 2.5em;
    align-self: center;
    border: 1px solid grey;
    border-radius: 10px;
    width: 80vw;
}

input, button {
    border: none;
    padding: 0.75em;
}

input {
    outline: none;
    border-right: 1px solid grey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
}

button {
    font-size: 1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

button:active {
    box-shadow: 2px 2px 7px 2px black;
}

button:hover {
    color: white;
}

.film-icon {
    display: block;
    text-align: center;
    opacity: 0.2;
    margin: 5em 0;
}

.film-display1 {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 3.125em auto 0;
}

hr {
    width: 100%;
    margin: 1.5em 0;
}

.film-display2 {
    display: flex;
    width: 80vw;
    align-self: center;
}

img {
    margin-right: 1.5em;
    width: 15%;
}

.one {
    display: flex;
    gap: 0.3em;
}

.title {
    margin-right: 0.5em;
}

.fa-star {
    color: yellow;
    align-self: center;
}

.rating {
    align-self: center;
}

.two {
    display: flex;
    gap: 0.3em;
}

.runtime, .genre {
    margin-right: 0.5em;
}

.fa-circle-plus {
    align-self: center;
}

.watchlist {
    align-self: center;
}

.three {
    display: flex;
    flex-direction: column;
}