body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    background-image: url('https://cdn.pixabay.com/photo/2016/09/14/08/18/film-1668918_960_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 31vh;
    width: 100vw;
}

header, 
.hero, 
.input-field, 
.film-display1, 
.watchlist-render, 
.film-display2, 
.two, 
.three {
    display: flex;
}

header, 
.film-display1, 
.watchlist-render, 
.three {
    flex-direction: column;
}

.hero {
    color: white;
    width: 80vw;
    margin: auto 0;
}

.hero, 
.input-field, 
.fa-magnifying-glass, 
.poster, 
.fa-star, 
.rating, 
.runtime, 
.genre, 
.btn, 
.three {
    align-self: center;
}

h3 {
    margin: auto 0 auto auto;
    cursor: pointer;
    padding: 0.1em 0.35em;
    border-radius: 15px;
}

h3:hover {
    background-color: #E3E4E8;
    color: red;
}

.input-field {
    position: relative;
    top: 2.5em;
    border: 1px solid grey;
    border-radius: 10px;
    width: 80vw;
    background-color: white;
}

.fa-magnifying-glass {
    color: #ADAFB8;
    margin-left: 0.5em;
}

input, #search-btn {
    border: none;
    padding: 0.75em;
}

input {
    outline: none;
    border-right: 1px solid grey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
}

#search-btn {
    font-size: 1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #E3E4E8;
    cursor: pointer;
}

#search-btn:active {
    box-shadow: 2px 2px 7px 2px black;
    background-color: #C8C9D0;
}

#search-btn:hover {
    background-color: #C8C9D0;
}

.film-icon, .no-movie-found {
    display: block;
    text-align: center;
    opacity: 0.2;
    margin: 5em 0;
}

.fa-triangle-exclamation {
    font-size: 5rem;
}

.film-display1, .watchlist-render {
    width: 80vw;
    margin: 3.125em auto 0;
}

hr {
    width: 100%;
    margin: 1.5em 0;
}

.film-display2 {
    width: 80vw;
}

.poster {
    margin-right: 1.25em;
    max-width: 25vw;
    max-height: 25vh;
    border: 1px solid;
}

.one {
    font-size: 0.85rem;
    display: flex;
    gap: 0.3em;
}

.title {
    margin: 0 0.5em 0 0;
}

.fa-star {
    color: orange;
    margin: 0;
}

.rating {
    margin: 0;
}

.two {
    gap: 0.3em;
    margin: 0.5em 0;
}

.runtime, .genre {
    font-size: 0.7rem;
    margin: 0 0.5em 0 0;
}

.btn {
    font-size: 0.85rem;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 0 0 auto;
}

.watchlist {
    font-size: 0.85rem;
    margin: 0;
    align-self: center;
}

.btn.fa-circle-minus {
    display: none;
    color: red;
}

#minus-watchlist {
    display: block;
}

.btn.fa-circle-plus {
    display: block;
    color: green;
}

.btn:hover{
    background-color: #E3E4E8;
}

.plot {
    font-size: 0.85rem;
    margin: 0;
    color: #7A7C85;
}

.three {
    max-width: 55vw;
    width: 100%;
    height: fit-content;
}

/* media qurey */

@media (min-width: 765px) {
    .runtime,
    .genre {
        font-size: 1rem;
    }

    .poster {
        max-width: 25vw;
    }

    .one,
    .plot,
    .watchlist,
    .btn {
        font-size: 1.5rem;
    }
}